@page
@model FUNewsManagement_FE.Pages.Analytics.DashboardModel
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
    <h1>Dashboard</h1>
    </body>
</html>
